body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 50px;
	color: #333;
}

h1 {
	color: #4CAF50;
	font-size: 2.5em;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

button {
	margin-top: 30px;
	padding: 10px 20px;
	font-size: 1em;
	background-color: #956FFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #8254FF;
}

#motivation {
	margin-top: 20px;
	font-style: italic;
	color: #555;
	font-size: 1.1em;
}